{{#if first_photo}}

<div class="first_photo">
  <div class="photo_photo">
    <a href="/gallery/{{first_photo.attributes.id}}">
      <img src="{{first_photo.attributes.link}}">
    </a>
  </div>
</div>
<hr class="under_first"> {{/if}} {{#each rows}}
<div class="rows">
  {{#each row}}
  <div class="photo_card">
    <div class="photo_photo">
      <a href="/gallery/{{this.attributes.id}}">
        <img src="{{this.attributes.link}}">
      </a>
    </div>
    <div class="photo_info">
      {{this.attributes.title}} - {{this.attributes.link}}
    </div>
  </div>
  {{/each}}
</div>
{{/each}} 

{{!-- 
{{else}}
<h3>There are currently no photos.</h3>
{{/if}}  --}}

{{#if loggedIn}}
<form action='/photos/new' method='get'>
  <button type='submit'>Add a new photo</button>
</form>
{{/if}}{{#each errors}}
<h3>{{message}}</h3>
{{/each}}